<h2>Notecards</h2>

<% @notecards.each do |notecard| %>
  <ul>
    <li><%= link_to notecard.task, board_notecard_path(@board, notecard) %></li>
    <li><%= notecard.date %></li>
    <li><%= notecard.status %></li>
    <li><%= notecard.accomplished %></li>
    <li><%= notecard.to_do %></li>
    <li><%= notecard.roadblock %></li>
  </ul>
<% end %>

<%= link_to 'View All Boards', boards_path %>
