<div class="page_title">
  <h1>All Notecards</h1>
</div>

<!-- Show all notecards -->
<% @notecards.each do |notecard| %>
<div class="notecard col-md-4">
  <div class="well well-lg">
    <ul>
      <!-- Notecard Title -->
      <li class="notecard_title"><%= link_to notecard.task, board_notecard_path(notecard.board_id, notecard) %></li>
      <!-- Notecard Date -->
      <li><p class="notecard_col_title">Date: </p>
        <%= notecard.date, class: "notecard_col_entry" %></li>

        <!-- Notecard Date -->
        <li><p class="notecard_col_title">Task Status: </p><%= notecard.status %></li>

        <!-- Notecard Date -->
        <li>
          <p>What did you accomplish yesterday?</p>
          <p><%= notecard.accomplished %></p>
        </li>

        <!-- Notecard Date -->
        <li>
          <p>What are you doing today?</p>
          <p><%= notecard.to_do %></p>
        </li>

        <!-- Notecard Date -->
        <li>
          <p>What are the roadblocks (if any)?</p>
          <p><%= notecard.roadblock %></p>
        </li>
      </ul>

      <!-- Notecard Date -->
      <% if current_user && notecard.user == current_user %>
      <button class="btn btn-info"><%= link_to "Edit Notecard", edit_board_notecard_path(notecard.board_id, notecard) %></button>
      <% end %>
    </div>
  </div>
  <% end %>
