<h2>Notecards</h2>

<% @notecards.each do |notecard| %>
  <ul>
    <li><%= link_to notecard.task, board_notecards_path(notecard) %></li>
    <li><%= notecard.date %></li>
    <li><%= notecard.status.capitalize %></li>
    <li><%= notecard.accomplished.capitalize %></li>
    <li><%= notecard.to_do.capitalize %></li>
    <li><%= notecard.roadblock.capitalize %></li>
  </ul>
<% end %>

<%= link_to "View All Boards", boards_path %>
