    <%= form_for [@board], :html => {:class => "form-group center"} do |f| %>

    <!-- Board Title -->
    <div class="form-group">
      <%= f.label :title, "Board Title:", class: "col-md-4 control-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

      <!-- Board Status -->
        <%= f.label :status %>
        <%= f.text_field :status %>
    </div>
      <!-- Submit -->
        <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
    <% end %>

    <!-- this looks awesome! -->
