<!-- Current User : Available Actions -->
<% if current_user %>
<!-- link_to "View My Notecards", link to view all current user notecards  -->
  <%= link_to "View all Notecards", notecards_path %>

<!-- View All Boards + Add New Board -->
<div class="page_title">
  <h1>All Boards<%= link_to new_board_path, class: "btn btn-success" do  %>
    <i class="glyphicon glyphicon-plus"></i>
  <% end %></h1>
</div>

  <% @boards.each do |board| %>
    <ul>
      <li><%= link_to board.title, board_notecards_path(board) %></li>
      <li><%= board.status %></li>
    </ul>
  <% end %>

<!-- Not Current User : View Boards -->
<% else %>
<!-- View All Boards -->
  <div class="page_title"><h1>All Boards</h1></div>
    <% @boards.each do |board| %>
    <ul>
      <li><%= link_to board.title, board_notecards_path(board) %></li>
      <li><%= board.status %></li>
    </ul>
  <% end %>
<% end %>
