<h1><%= @board.title %></h1>
<h2><%= @board.status %></h2>
<%= link_to "All Boards", boards_path %>

<!-- Show Notecards For This Board -->
<% @board.notecards.each do |notecard| %>
<ul>
  <li>
    <p>Task:</p>
    <p><%= link_to notecard.task, board_notecards_path(notecard) %></p>
  </li>
  <li>
    <p>Date:
    <p><%= notecard.date %></p>
  </li>
  <li>
    <p>Task Status:</p>
    <p><%= notecard.status %></p>
  </li>
  <li>
    <p>What did you accomplish yesterday?</p>
    <p><%= notecard.accomplished %></p>
  </li>
  <li>
    <p>What are you doing today?</p>
    <p><%= notecard.to_do %></p>
  </li>
  <li>
    <p>What are the roadblocks (if any)?</p>
    <p><%= notecard.roadblock %></p>
  </li>
</ul>
<!-- Notecard Owner Can Edit Or Delete Card -->
  <% if current_user && notecard.user == current_user %>
    <%= link_to 'Edit Notecard', edit_board_notecard_path(@board, notecard) %>
    <%= link_to 'Delete', [@board, notecard], method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<!-- Any Current User Can Edit or Delete the Board if Logged In -->
<% if current_user %>
  <%= link_to 'Edit Board', edit_board_path(@board) %>
  <%= link_to 'Delete', @board, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
