<!DOCTYPE html>
<html>
<head>
  <title>DailyScrum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Alerts -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<!-- Navigation -->

<header>
  <h1><%= link_to "Daily Scrum", root_path %></h1>
  <nav>
    <% if current_user %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
    <!-- WANT TO INCLUDE CURRENT_USER.EMAIL -->
      <%= "Welcome, #{current_user}" %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </nav>
</header>

<%= yield %>

</body>
</html>
