<!DOCTYPE html>
<!-- all the views looks amazing jen! -->
<html>
<head>
  <title>Daily Scrum Board</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <%= link_to "Daily Scrum", root_path, class: "navbar-brand" %>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to "View All Boards", root_path %></li>
        <li><%= link_to "View All Notecards", notecards_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <!-- Main Content -->
  <div id="main-container" class="container">
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
        <% end -%>
      </div>
    </div>
    <div id="content" class="col-md-12">
      <%= yield %>
    </div>
  </div>

  <footer></footer>

</body>
</html>
