<!DOCTYPE html>
<html>
<head>
  <title>Daily Scrum Board</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Navigation -->
  <nav class='navbar navbar-default' role='navigation'>
    <div class='container'>
      <div class='navbar-header'>
        <div class='navbar-brand'><%= link_to 'Daily Scrum', root_path %>
        </div>
        <div class="navbar-credentials>">
          <% if current_user %>
            <%= "Welcome, #{current_user.username}" %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign Up', new_user_registration_path %>
            <%= link_to 'Sign In', new_user_session_path %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>

<!-- Main Content -->
  <div id="main-container" class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "alert alert-#{name}" %>
        <% end -%>
      </div>
    </div>
    <div id='content' class="col-xs-12">
      <%= yield %>
    </div>
  </div>

</body>
</html>
